<div class="container">
    <h3 mat-dialog-title *ngIf="flagBolDialog == 1">Dodavanje bolnice</h3>
    <h3 mat-dialog-title *ngIf="flagBolDialog == 2">Modifikacija bolnice: {{data.naziv}}</h3>
    <h3 mat-dialog-title *ngIf="flagBolDialog == 3">Brisanje bolnice: {{data.naziv}}</h3>
    <form class="mat-dialog-content" #formControl="ngForm">
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Naziv" [(ngModel)]="data.naziv" name="naziv" [disabled]="flagBolDialog == 3"
                    required>
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Adresa" [(ngModel)]="data.adresa" name="adresa"
                    [disabled]="flagBolDialog == 3" required>
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Budzet" [(ngModel)]="data.budzet" name="budzet"
                    [disabled]="flagBolDialog == 3" required>
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button mat-button *ngIf="flagBolDialog==1" type="submit" [mat-dialog-close]="1" (click)="add()"
                [disabled]="!formControl.valid">
                Sačuvaj
            </button>
            <button mat-button *ngIf="flagBolDialog==2" type="submit" [mat-dialog-close]="1" (click)="update()"
                [disabled]="!formControl.valid">
                Sačuvaj
            </button>
            <button mat-button *ngIf="flagBolDialog==3" type="submit" [mat-dialog-close]="1" (click)="delete()">
                Obriši
            </button>
            <button mat-button (click)="cancel()">
                Poništi
            </button>
        </div>

    </form>

</div>
